body{
	font-family: "Consolas",monospace;

}


.resnav{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #25286B;
  position: sticky;
  top: 0;
}

.resnav .hidden{
  display:none;
}

@media screen and (max-width: 600px) {
  .resnav a:not(:first-child) {display: none;}
  .resnav a.hidden {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .resnav.respon {position: relative;}
  .resnav.respon a.hidden {
    position: absolute;
    right: 0;
    top: 0;
  }
  .resnav.respon a {
    float: none;
    display: block;
    text-align: left;
  }
}


.resnav a{
  display: inline;
  float: left;
}

.resnav a{
  display: flex;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.resnav a:hover{
  background-color: #4247AB;
}

.current{
  background-color: #4247AB;
}

#header{
	text-align: center;
	color: #25286B;

}

.header{
	display: block;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.pfp{
  display: block;
  height: 200px;
  width: auto;
  float: left;
}

.abt{
  width = 50%;
  left: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid #25286B;
  display: block;
}

.abt text{
  position: absolute;
}

.info{
  font-size: 18px;
}

#banner{
	padding: 70px;
}

#title{
	color: #25286B;
  font-size: 26px;
}

#news{
	font-weight: bold;
}

#calendar{
	border-radius: 10px;
	display: block;
	margin: 0 auto;
}

#footer{
	background-color: #25286B;
	color: white;
	padding: 0.5px;
	display: block;
}

#footerp{
	text-align: center;
}

.fa{
	font-size: 20000px;
	margin: 3px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}

div.gallery{
	border: 2px solid #25286B;
}

div.gallery:hover{
	border: 2px solid #4247AB;
  background-color: #FEFAE2;
}

div.gallery img{
	width: 100%;
	height: auto;
}

div.desc{
	padding: 15px;
	text-align: center;
}

*{
	box-sizing: border-box;
}


.responsive{
	padding: 5px 6px;
  width: 45%;
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btnv{
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

#btn{
  margin-left: 5px;
  margin-right: 5px;
  height = 33px;
  width = 88px; 
}

hr{
  border: 2px solid #25286B;
}

#trains{
  border: 2px solid #25286B;

}

.box{
  background-image: url('box.jpeg');

}

.share{
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
}

.share:hover{
  box-shadow:0 8px 16px 0 rgba(237,17,44,0.6)
}

.socials{
  border:none;
  border-radius: 67%;
}

.socials:hover{
  box-shadow:0 8px 16px 0 rgba(237,17,44444,0.6)
}

.codebox {
        justify-content: center;
        width:100%;
        overflow:auto;    
        padding:10px;
        text-align: center;
}

.mini{
  display:flex;
  justify-content: center;
}

.mini h1{
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type 2s steps(17) forwards, blink 1s step-end infinite;
}

@keyframes type{
  from{
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink{
  50% {
      border-color: transparent;
    }  
}
