body{
	font-family: "Consolas",monospace;

}


ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #25286B;
  position: sticky;
  top: 0;
}

li{
  display: inline;
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover{
  background-color: #4247AB;
}

.current{
  background-color: #4247AB;
}

#header{
	text-align: center;
	color: #25286B;

}

.header{
	display: block;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.pfp{
  display: block;
  height: 200px;
  width: auto;
  float: left;
}

.abt{
  width = 50%;
  left: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid #25286B;
}

.info{
  font-size: 18px;
}

#banner{
	padding: 70px;
}

#title{
	color: #25286B;
  font-size: 26px;
}

#news{
	font-weight: bold;
}

#calendar{
	border-radius: 10px;
	display: block;
	margin: 0 auto;
}

#footer{
	background-color: #25286B;
	color: white;
	padding: 0.5px;
	display: block;
}

#footerp{
	text-align: center;
}

.fa{
	font-size: 20000px;
	margin: 3px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}

div.gallery{
	border: 2px solid #25286B;
}

div.gallery:hover{
	border: 2px solid #4247AB;
}

div.gallery img{
	width: 367px;
	height: auto;
}

div.desc{
	padding: 15px;
	text-align: center;
}

*{
	box-sizing: border-box;
}

.responsive{
	padding: 67px 16px;
	float: left;
}

.btnv{
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

#btn{
  margin-left: 5px;
  margin-right: 5px;
  height = 33px;
  width = 88px; 
}

hr{
  border: 2px solid #25286B;
}

#trains{
  border: 2px solid #25286B;

}

.box{
  background-image: url('box.jpeg');

}
